@font-face{
	font-family:"Neou-Thin";
	src:url('Neou-Thin.ttf,Neou-Bold.ttf');

}
body{
	padding:0px;
	margin: 0px;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	font:20px "Neou-Thin";


}


#container:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5a5a5+0,ffffff+49,a5a5a5+100&0.5+0,0+49,0.5+100 */
background: -moz-linear-gradient(top,  rgba(165,165,165,0.5) 0%, rgba(255,255,255,0) 49%, rgba(165,165,165,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(165,165,165,0.5) 0%,rgba(255,255,255,0) 49%,rgba(165,165,165,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(165,165,165,0.5) 0%,rgba(255,255,255,0) 49%,rgba(165,165,165,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a5a5a5', endColorstr='#80a5a5a5',GradientType=0 ); /* IE6-9 */

}

img{
	padding: 10px;
-webkit-filter: grayscale(100%);
	
}
img:hover{

-webkit-filter: grayscale(0%);
}

a{
	margin: 30px;
	text-align: center;

}
#container{
	text-align: center;
	padding: 30px;
	margin-top:125px;
}
a>span{
	color: white;
	margin:-45px auto;
	position: absolute;
	font-size: 35px;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;

}

.title{
	color: #FFC400;
	text-align: center;
	font:75px "Neou-Bold";
	margin-top:155px;
}

section{
	display: inline-flex;
	border-bottom:solid 1px white;
	border-radius: 40px;
	margin-bottom: 40px;
}
